@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 97%;
    --foreground: 228 30% 19%;
    --card: 0 0% 100%;
    --card-foreground: 228 30% 19%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 30% 19%;
    --primary: 220 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 20% 95%;
    --secondary-foreground: 228 30% 19%;
    --muted: 215 20% 95%;
    --muted-foreground: 218 10% 60%;
    --accent: 43 52% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354 75% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 20% 90%;
    --input: 215 20% 90%;
    --ring: 220 100% 62%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-ink font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
